* {
    box-sizing: border-box;
  }
  
  :root {
    --first: black;
    --second: blue; 
    --third: pink;
    font-size: 55%;
  }

  body {
    background: lightcyan;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 85%;
  }

  #view-high-scores:hover {
      cursor: pointer;
      color: var(--third)
  }

  header h3 {
      font: italic;
      font-size: 2.0rem;
      padding-left: 20px;
      display: inline;
  }
  
 .timer {
      font-size: 2.0rem;
      color: var(--first);
      display: inline;
      text-align: right;
      padding-right: 20px;
  }

.container {
      padding: 20px;
      flex-direction: column;
      width: 50%;
      margin: auto;
  }

  
 h1 {
    color: var(--first);
    font-size: 3.0rem;
    font-weight: bold;
  }

  p {
    color: var(--first);
    font-size: 2.0rem;
  }

  .start {
    align-items: center;
    text-align: center;
    }
  
 .start h1, .start p {
     text-align: center;
 }

  .questions {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 20px;
    margin: auto;
  }

  .end h1, .end p {
      text-align: center
  }

  .end input {
    outline: thick; 
    border-width: 1px;
    padding: 5px;
    width: 35%;
    font-size: 2.2rem;
    border-radius: 5px;
  }

  .end input:focus {
    border: 2px solid var(--second);
  }

  .show {
      display: flex;
  }

  .hide {
      display: none;
  }

  #question {
    color: var(--first);
    text-align: left;
    font-size: 3.0rem;
    font-weight: bold;
  }

  #high-score {
      text-align: left;
  }

  .btn {
      background: var(--second);
      color: white;
      padding: 10px;
      border-radius: 10px;
      border: none;
      box-shadow: 0 3px salmon;
      margin-top: 10px;
  }

  .btn:hover {
      background: var(--tertiary);
      border-radius: 10px;
      box-shadow: 0 2px salmon;
      cursor: pointer;
  }

  .btn:active {
      border: none;
      outline: none;
      box-shadow: 0 0 salmon;
  }

  .btn:focus {
      outline: none;
  }

  .btn-grid {
      display: grid;
      grid-template-rows: repeat(4, auto);
      grid-gap: 5px;
      margin: 20px 0;
  }

 .startend {
     width: 25%;
     margin-top: 10px;
 }

 .answerbtn {
     width: 50%;
     text-align: left;
     font-size: 3.0vw;
 }


 .banner {
     font-size: 25px;
     text-align: center;
     color: gray;
     font-style: italic;
     margin: 0 100px;
 }

.banner h2 {
    border-top: 2px solid ghostwhite;
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
}

 
 ol {
    list-style-type: number;
 }

 li:nth-child(odd) {
     background-color: peachpuff;
 }


li {
    font-size: 4.0vw;
}
